POSTGRES_DB=etl_source
POSTGRES_USER=etl
POSTGRES_PASSWORD=etl
POSTGRES_PORT=5432

CLICKHOUSE_DATABASE=olap_benchmark
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=etl
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

AIRFLOW_PORT=8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
